body {
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grey_wash_wall.png);
}
div.board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
}
div.messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #D50000;
    font-size: 50px;
}
table {
    position: absolute;
    left: 173px;
    top: 98px;
}
td {
    width: 94px;
    height: 94px;
    cursor: pointer;
    border: solid 2px;
    border-color: greenyellow;
    margin: 10px;
    position: relative;
}
td:hover {
    background-color: #8BC34A;
}
.miss:hover {
    background-color: transparent;
}
.hit:hover {
    background-color: transparent;
}
.hit {
    background: url("images/ship.png") no-repeat center center;
    cursor: default;
    pointer-events: none;
}
.miss {
    cursor: default;
    position: relative;
    pointer-events: none;
}
.miss:before{
    position: absolute;
    font-size: 120px;
    left: 33%;
    bottom: 12%;
    color: yellowgreen;
    content: ".";
}
.info {
    width: 350px;
    color: white;
    float: right;
    position: relative;
    z-index: 1;
}
.enter {
    height: 50px;
    width: 350px;
    text-align: center;
    font-size: 25px
}
.form {
    margin-top: 150px;
    display: block;
    text-align: center;
}
.wrapper {
    display: inline-block;
    margin-left: 50px;
}
.button {
    display: block;
    text-align: center;
    margin-top: 100px;
}
.button-start {
    border-radius: 10px;
    border: 2px solid #edebe9;
}
.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #999999;
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    text-decoration: uppercase;
    font-size: 30px;
}
.able{
    background-color: #5c6d96;
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    text-decoration: uppercase;
    font-size: 30px;
}

.button a:hover {
    background-color: #4bcaff;
    box-shadow: 0 4px 0 #277697;
    border: 2px solid #4bcafff;
}
.button a:active {
    box-shadow: inset 0 0 0 #277697;
    border: 2px solid #4bcafff;
    border: 2px solid #2791a8;
}
.wrapper  div{
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 1px 0 0 #000;
}
.message-error {
    font-size: 20px;
}
.has-error div.message-error div {
    font-size: 20px;
    color:#FF5E5E
}
.has-error input{
    outline: 0;
    border: 1px solid #FF5E5E;
}
.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #999999;
}
.killed:after{
    position: absolute;
    color: red;
    font-size: 9em;
    top: -36px;
    left: -5px;
    content: 'X';
    opacity:0.5;
    pointer-events: none;
    border-color: red;

}