body {
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grey_wash_wall.png);
}
div#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
}
div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #D50000;
    font-size: 50px;
}
table {
    position: absolute;
    left: 173px;
    top: 98px;
    /*border-spacing: 0px;*/

}
td {
    width: 94px;
    height: 94px;
    cursor: pointer;
    border: solid 2px;
    border-color: greenyellow;
    margin: 10px;

}
td:hover {
    background-color: #8BC34A;
}
.miss:hover {
    background-color: transparent;
}
.hit:hover {
    background-color: transparent;
}

.hit {
    background: url("images/ship.png") no-repeat center center;
    cursor: default;

}
.miss {
    /*background: url("images/miss.png") no-repeat center center;*/
    cursor: default;
    position: relative;

}
.miss:before{
    position: absolute;
    font-size: 120px;
    left: 33%;
    bottom: 12%;
    color: yellowgreen;
    content: ".";
}
.info {
    width: 350px;
    color: white;
    float: right;
    position: relative;
    z-index: 1;
}
.enter {
    height: 50px;
    width: 350px;
    text-align: center;
    font-size: 25px
}
.form {
    margin-top: 150px;
    display: block;
    text-align: center;
}
.wrapper {
    display: inline-block;
    margin-left: 50px;
}
.button {
    display: block;
    text-align: center;
    margin-top: 100px;
}
.button-start {
    border-radius: 10px;
    border: 2px solid #edebe9;
}
.button a {
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: #fff;
    background-color: #5c6d96;
    text-decoration: none;
    transition: all .4s;
    text-decoration: uppercase;
    color: #fff;
    font-size: 30px;
}
.button a:hover {
    background-color: #4bcaff;
    box-shadow: 0 4px 0 #277697;
    border: 2px solid #4bcafff;
}
.button a:active {
    box-shadow: inset 0 0 0 #277697;
    border: 2px solid #4bcafff;
    border: 2px solid #2791a8;
}
.wrapper  div{
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 1px 0 0 #000;
}