<div class="form">
    <form name="formOfData">
        <div  class="wrapper">
            <div ng-messages="formOfData.length.$error">
                <div ng-message="required">ВВЕДИТЕ ДЛИННУ КОРАБЛЕЙ ОТ 1 ДО 9</div>
                <div ng-message="pattern">СЛИШКОМ МНОГО</div>
            </div>
            <input placeholder="length of ships" onfocus="this.placeholder = ''" onblur="this.placeholder = 'length of ships'"
                   ng-model="shipLength"
                   name="length"
                   class='enter'
                   type="text"
                   ng-pattern="/^[1-9]{1}$/"
                   required/>
        </div>

        <div class="wrapper">
            <div ng-messages="formOfData.ammount.$error">
                <div ng-message="required">ВВЕДИТЕ КОЛИЧЕСТВО КОРАБЛЕЙ ОТ 1 ДО 9</div>
                <div ng-message="pattern">СЛИШКОМ МНОГО</div>
            </div>
            <input placeholder="number of ships" onfocus="this.placeholder = ''" onblur="this.placeholder = 'number of ships'"
                   ng-model="ammount"
                   class='enter'
                   name="ammount"
                   type='text'
                   ng-pattern="/^[1-9]{1}$/"
                   required/>
        </div>

        <div class="wrapper">
            <div ng-messages="formOfData.size.$error">
                <div ng-message="required">ВВЕДИТЕ РАЗМЕР ПОЛЯ (МАКСИМУМ 10Х10)</div>
                <div ng-message="pattern">СЛИШКОМ МНОГО</div>
            </div>
            <input placeholder="size of board" onfocus="this.placeholder = ''" onblur="this.placeholder = 'size of board'"
                   ng-model="value"
                   class='enter'
                   name="size"
                   type='text'
                   ng-pattern="/^[1-9]{1}$|^10$/"
                   required/>
        </div>
        <div class="button">
            <a class="button-start" href="#/game" ng-show="formOfData.$valid" ng-click="foo(shipLength,ammount,value)" > START GAME</a>
        </div>
    </form>
</div>
